<div class="container-fluid">
    <div id="home" class="row align-items-center hero">
        <div class="col-lg-3 offset-lg-2">
            <h1>LUBRICENTRO Express </h1>
            <p> Brindamos el Servicio a tu Vehiculo con los mejores productos del mercado.
                Contamos con gente especializada en el Rubro </p>
        </div>  
    </div>
</div>

<div class="row my-4">
    <div id="novedades" class="col-md-5 offset-md-1 scroll_section ">
        <h2 style="background-color:rgb(161, 227, 243)" ;>Novedades</h2>
        <ul class="lista-novedades">
            {{#each novedades}}
            <li><a href="#" data-bs-toggle="modal" data-bs-target="#modal{{id}}"><img src="images/aceite2.jpg" alt="">{{Titulo}} </a>
            </li>
            {{/each}}
        
        </ul>
    </div>

    {{#each novedades}}
    <div class="modal fade" id="modal{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title fs-5" id="exampleModalLabel">{{Titulo}} </h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h5>{{Subtitulo}}</h5>
                    <p>{{Cuerpo}}</p>
                </div>

            </div>
        </div>
    </div>
    {{/each}}


    <div class="col-md-4 my-3">
        <div class="rounded py-5 testimonios">
            <h2> Testimonios </h2>
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="testimonio">
                            <h5>"Excelente Atencion!"</h5>
                            <p>Romina</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="testimonio">
                            <h5>"Buenos Productos"</h5>
                            <p>Daniel A</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="testimonio">
                            <h5>"Precios Accesibles"</h5>
                            <p>Silvina</p>
                        </div>

                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

        </div>

    </div>

</div>

<div id="nosotros" class="row align-item-strech my-4 staff py-4 scroll_section ">
    <div class="col-lg-8 offset-md-2">
        <h2 style="background-color: rgb(198, 198, 240) ;">Nosotros</h2>
        <div class="row row-cols-1 row-cols-md-4 g-4">
            <div class="col">
                <div class="card h-100">
                    <img src="images/carolina.nos.jpg" class="rounded-5" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Carolina Lpez</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in
                            to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="images/juan.nos.jpg" class="rounded-5" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Juan Gonzalez</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in
                            to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="images/julia.nos.jpg" class="rounded-5" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Julia Lopez</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in
                            to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="images/pablo.jpg" class="rounded-5" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Pablo Funes</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in
                            to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="tienda" class="row align-item-strech my-4 py-4 border border-info border-start-0 rounded-end scroll_section ">
    <h2 style="background-color: rgb(198, 198, 240);" ->Tienda</h2>
    <div class="col-md-3 offset-md-1">
        <div class="card" style="width: 18rem;">
            <img src="images/kit producto.jpg" class="card h-100 alt=" ...">
            <div class="card-body">
                <h5 class="card-title">Oferta Nro 1</h5>
                <p class="card-text">Te ofremos un kit Completo para el Service de Tu Vehiculo</p>
                <a href="#" class="btn btn-primary">Consulta Precio</a>
            </div>
        </div>
    </div>
    <div class="col-md-3 offset-md-1">
        <div class="card" style="width: 18rem;">
            <img src="images/filtros productos.jpg" class="card h-100" alt="...">
            <div class="card-body">
                <h5 class="card-title">Oferta Nro 2</h5>
                <p class="card-text">filtro de Aire , De Aceite , De Habitaculo</p>
                <a href="#" class="btn btn-primary">Consulta Precio</a>
            </div>
        </div>
    </div>
    <div class="col-md-3 offset-md-1">
        <div class="card" style="width: 18rem;">
            <img src="images/imagen2.jpg" class="card h-100" alt="...">
            <div class="card-body">
                <h5 class="card-title">Oferta Nro 3</h5>
                <p class="card-text">Aceite 5W 40 de 4 Litros .</p>
                <a href="#" class="btn btn-primary">Consulta Prercio</a>
            </div>
        </div>
    </div>
</div>
</div>

<div id="contactanos" class="row py-4 scroll_section ">
    <div class="col-md-4 offset-md-1 ">
        <h2>Visitanos</h2>
        <div class="mapa">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3287.094255689666!2d-58.55437158561191!3d-34.5258398804797!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb09f9a7aafb3%3A0xef262b9ae968eccf!2sAv.%20Bernardo%20Ader%201618%2C%20B1607BTU%20Villa%20Adelina%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1665844767359!5m2!1ses-419!2sar"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>

    <div class="col-md-4 offset-2 border border-5">
        <h2>Contactanos</h2>
        <form class="row g-3" action="/" method="post" >
            <div class="col-md-6">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="nombre" name="nombre">
            </div>
            <div class="col-md-6">
                <label for="apellido" class="form-label">Apellido</label>
                <input type="text" class="form-control" id="apellido" name="apellido">
            </div>
            <div class="col-6">
                <label for="telefono" class="form-label">Telefono</label>
                <input type="text" class="form-control" id="telefono" name="telefono">
            </div>

            <div class="col-md-6">
                <label for="email" class="form-label">Email</label>
                <input type="text" class="form-control" id="email" name="apellido">
            </div>

            <div class="col-md-10">
                <label for="mensaje" class="form-label">Comentario</label>
                <textarea class="form-control" id="mensaje" rows="3" name="mensaje"></textarea>

            </div>
            
            <div class="col-12">
                <button type="submit" class="btn btn-primary ">Enviar</button>
            </div>
        </form>

        <p> {{message}}</p>

    </div>
</div>